$color-primary: #01D167;

$base-background: #0C365A;
$cards-backgound-primary: #01D167;
$backgound-white: #FFFFFF;


$text-primary: #FFFFFF;
$text-header-primary: #222222;
$text-secondary: #AAAAAA;
$text-highlight: #01D167;
$text-inactive: #DDDDDD;

$buttons-primary-text: #0C365A;
$buttons-primary-background: #325BAF;
$buttons-secondary: #23CEFD;

$action-header-background: #EDF3FF;
$detail-header-background: #FAFCFF;
$detail-header-border: #F5F5F5;

$cards-background-secondary: #EDFFF5;
$cards-border-secondary: #DDFFEC;
